extends layout.pug 

append head 
	link(rel='stylesheet' href='/stylesheets/newsfeed.css')
	link(rel='stylesheet' href='/stylesheets/navbar.css')
	link(rel='stylesheet' href='/stylesheets/footer.css')
	script(type='text/javascript' src='/javascripts/navbar.js')

block content
	nav(class="nav__container")
		a(href=`/profiles/${user.id}` class="nav-item user-name-link")= user.pen_name
		a(href=`/about-us` class="nav-item pen-pal-link") About Us
		img(src="/images/logo-thin.png" class="logo")
		a(href=`/profiles/${loggedIn}` class="nav-item") My Profile
		form(action="/profiles/logout" method="post")
			button(type="submit" class="nav-item") Log Out

	.article__container-newsfeed 
		each article in articles
			.single-article-div
				.article__container-image
					a(article__container-image-link href=`/articles/${article.id}`)
						img#articleImg(src=article.imageSrc)
				div(class='article__title')
					p(class='article__title-p'): a(class='article__title-link' href=`/articles/${article.id}`)= article.title
				div(class='article__user') By: 
					a(class='article__user-link' href=`/profiles/${article.User.id}`) 
						p= article.User.pen_name
				div(class="border-bottom")
	include footer.pug
