extends layout.pug 

append head 
	link(rel='stylesheet' href='/stylesheets/newsfeed.css')
	link(rel='stylesheet' href='/stylesheets/navbar.css')
	script(type='text/javascript' src='/javascripts/navbar.js')

block content
	.nav__container 
		div(class='nav-logo')
			a(href='/newsfeed') LOGO
		div(class='nav-link')
			a(class="nav-profile" href=`/profile${user.id}`) PROFILE
			a(class='nav-home' href="/newsfeed") HOME
	.article__container-newsfeed 
		each article in articles
			.article__container-image
				a(article__container-image-link href=`/articles/${article.id}`)
					img#articleImg(src=article.imageSrc)
			div(class='article__title')
				a(class='article__title-link' href=`/articles/${article.id}`)= article.title
			div(class='article__user')
				a(class='article__user-link' href=`/profiles/${user.id}`) By: #{article.User.pen_name}
