extends layout.pug 

append head 
	link(rel='stylesheet' href='/stylesheets/navbar.css')
	link(rel='stylesheet' href='/stylesheets/single-article.css')
	link(rel="stylesheet", href='/stylesheets/footer.css')
	script(type='text/javascript' src='/javascripts/navbar.js')
	script(type='text/javascript' src='/javascripts/stamps.js')
	script(type='text/javascript' src='/javascripts/comments.js' defer) 


block content
	nav(class="nav__container")
		a(href=`/profiles/${user.id}` class="nav-item user-name-link")= user.pen_name
		a(href=`/about-us` class="nav-item pen-pal-link") About Us
		img(src="/images/logo-thin.png" class="logo")
		a(href=`/newsfeed` class="nav-item") Home
		a(href=`/profiles/${userId}` class="nav-item") My Profile
		form(action="/profiles/logout" method="post")
			button(type="submit" class="nav-item") Log Out
	.article__container 
		.article__container-image 
			img#articleImg(src=article.imageSrc)
		.article__title= article.title
		div(class='article__user') By:
			a(class='article__user-link' href=`/profiles/${article.User.id}`) #{article.User.pen_name}
		.article__container-content
			p#articleText= article.content
		div(class='article-delete-container')
			if userId === article.User.id
				form(action=`/articles/${article.id}/delete` method="post")
					button(type="submit" class="delete-button") delete
		div(class='article__container-icons')
			//- .article__comments-icon
			//- 	img#commentImg(src="https://cdn2.iconfinder.com/data/icons/contact-us-50/512/Comment_message_message_reply_communication_conversation_emoji_chat-512.png")
				//- number of comments add here
			.article__container-stamps-icon
				//- a(href=`https://cdn3.iconfinder.com/data/icons/office-269/32/Office_Expanded_32pxl_Stamps-512.png` class='stampImg')= `${stampNum} Stamps`
				//- img#stampImg(src="https://cdn3.iconfinder.com/data/icons/office-269/32/Office_Expanded_32pxl_Stamps-512.png")
				//- button#stampButton(class="score") Stamp
				if isStamped
					//- button#stampButton(type='submit') Stamped
					img(id='like' class=`${article.id} is-stamped` src='/images/liked.jpeg')
					span(id='stamp-count')= `${stampNum} Stamps`
				else 
					//- button#stampButton(type='submit') Stamp
					img(id='like' class=`${article.id}` src='/images/unlikedBW.jpg')
					span(id='stamp-count')= `${stampNum} Stamps`	
				//- number of stamps add here
		.form
			form(action=`/articles/${article.id}` method='post' id='comment-form')
				input(type='hidden' name='_csrf' value=csrfToken)
				input(type="hidden" value=article.id id="article-id")
				.form__inputs
					.form__comment
						//- input#commentBody(type="text" name="comment" placeholder="Comments? Opinions?")
						textarea#commentBody(type="text" name="comment" placeholder="Comments? Opinions?" cols="45" rows="4")
					.form__button
						button#commentBtn(type='submit') SHARE
		h2 Comments
		#comments__container
			each comment in comments 
				div#each-comment
					.comments__author
						p #{comment.User.pen_name} 
					.comments__content
						p=comment.content
					.comments__date 
						p=comment.createdAt
	include footer.pug

